.location {
  &.cold {
    p {
      color: blue;
    }
  }
  &.hot {
    p {
      color: red;
    }
  }
}
button.convert {
  margin-top: 20px;
  display: none;
  &.show {
    display: block;
  }
}

.weather {
  width: 40px;
  height: 40px;

  animation: rotation 2s infinite linear;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  img {
    width: 100%;
  }
}
